.sidebar-pages
  %h2.js-nav-toggle{data: {navigation_toggle_target: '#pages-nav'}} User Management

  %button.mobile-nav.js-nav-toggle{style: 'display: none;', aria: {label: 'Toggle Pages'}, data: {navigation_toggle_target: '#pages-nav'}}
    %span Menu

  %ul.menu.vertical
    = render "layouts/admin/sidebar_links"
